<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/login-signUpLayout">

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/js/userJoin.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link th:href="@{/css/userJoin.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content">


    <form id="JoinForm" th:action="@{/user/sign-up}" role="form" method="post" enctype="multipart/form-data" th:object="${userAccount}">

        <div class="container">
            <div id="img">
                <a th:href="@{/}" title="메인으로 가기"><img id="logo-img" th:src="@{/images/PetkPetk-logo_Kor.png}"></a>
            </div>

            <p id="errorMessage"></p>
            <div class="title">이메일<span>EMAIL ID</span></div>
            <input th:field="*{email}" id="email" type="email" placeholder="Type email" autocomplete="off" >
            <input id="findEmail" type="button" value="중복검사">

            <div class="title">이름<span>NAME</span></div>
            <input th:field="*{name}" id="name" type="text" placeholder="Type your name" autocomplete="off" maxlength="11">

            <div class="title">닉네임<span>NICK NAME</span></div>
            <input th:field="*{nickname}" name="nickName" id="nickName" type="text" placeholder="Type your nickname" autocomplete="off" maxlength="8">
            <input id="findNickName" type="button" value="중복 검사">


            <div class="title">프로필 사진<span>Profile image</span></div>
            <div class="file_box">
                <div>
                    <label for="file" id="findImg">파일찾기</label>
                    <input th:field="*{profileImage}" type="file" id="file">
                </div>
                <div class="profileImg">
                    <img id="signupProfileImg" class="signupProfileImg" src="" style="display: none">
                </div>
            </div>

            <div class="title">비밀번호<span>PASSWORD</span></div>
            <input th:field="*{password}" id="password" type="password" placeholder="Type password" autocomplete="off" minlength="8" maxlength="16">


            <div class="title">비밀번호 재확인<span>RETYPE PASSWORD</span></div>
            <input name="re-password" id="re-password" type="password" placeholder="Retype password" autocomplete="off"
                   onkeyup="checkSameWithPass()" required>
            <div id="check-password"></div>


            <div class="title">우편번호<span>ADDRESS</span></div>
            <input th:field="*{address.zipCode}" type="text" id="zipCode" placeholder="우편번호" name="zipcode" readonly >
            <input id="findZipcode" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">

            <div class="title">주소</div>
            <input th:field="*{address.address1}" type="text" id="addr" placeholder="주소" name="addr" readonly >

            <div class="title">상세주소<span>DETAIL ADDRESS</span></div>
            <input th:field="*{address.address2}" type="text" id="detailAddress" placeholder="상세주소" name="addrdetail" autocomplete="off" >

            <div class="title">참고항목</div>
            <input th:field="*{address.addressEtc}" type="text" id="addrEtc" placeholder="참고항목" name="addretc"  >

            <input type="hidden" th:value="${T(com.petkpetk.service.common.RoleType).USER}" name="roles">




            <br>
            <input type="submit" value="가입하기">
            <br>
            <a href="/members/login">
                <p>
                    로그인 하러가기
                    <br>Go for login
                </p></a>
        </div>

        <script th:src="@{/js/userJoin.js}" type="text/javascript"></script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script>

            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("addrEtc").value = extraAddr;

                        } else {
                            document.getElementById("addrEtc").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('zipCode').value = data.zonecode;
                        document.getElementById("addr").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAddress").focus();
                    }
                }).open();
            }
        </script>

<!--        <script>-->
<!--            function uploadProfileImage() {-->
<!--                var fileInput = document.getElementById('file');-->
<!--                var file = fileInput.files[0];-->
<!--                var formData = new FormData();-->
<!--                formData.append('profileImage', file);-->
<!--                fetch('https://api.imgur.com/3/image', {-->
<!--                    method: 'POST',-->
<!--                    headers: {-->
<!--                        'Authorization': 'Client-ID YOUR_CLIENT_ID',-->
<!--                    },-->
<!--                    body: formData-->
<!--                })-->
<!--                    .then(response => response.json())-->
<!--                    .then(data => {-->
<!--                        var imageUrl = data.data.link;-->
<!--                        document.getElementById('signupProfileImg').src = imageUrl;-->
<!--                        document.getElementById('signupProfileImg').style.display = 'block';-->
<!--                        document.getElementById('profileImage').value = imageUrl;-->
<!--                    })-->
<!--                    .catch(error => {-->
<!--                        console.error(error);-->
<!--                    });-->
<!--            }-->

<!--        </script>-->

    </form>



</div>
</html>