<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>장바구니 페이지</title>
</head>

<!--// todo : 현재는 장바구니로 전해지는 response 객체의 내용이 request 껍데기에 그대로 매핑이되어 들어와서, 변경점이 없으면 그대로 request를 만들어서 보내도록 되어 있다.-->
<!--// 클라이언트의 변경 요청 발생시 (e.g. 아이템 개수 변경 => 총 결제금액 변경) 해당 변경 사항을 반영하는 javascript코드를 통해서 th:field를 다시 매핑해서 보내어야 한다. -->

<div th:if="${cartItems.isCartEmpty()}">
    <p>장바구니가 비었습니다.</p>
    <a th:href="@{/}" class="btn btn-primary">장바구니 담기</a>
</div>
<div th:unless="${cartItems.isCartEmpty()}">
    <form id="cart-checkout-Form" class="cart-checkout-Form" role="form" method="post" th:action="@{/checkout}">

        <table>
            <thead>
            <tr>
                <th>상품명</th>
                <th>상품 이미지</th>
                <th>가격</th>
                <th>수량</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem, n : ${cartItems.items}">
                <td th:text="${cartItem.itemName}"></td>
                <td>
                    <div class="text-center imgCenter">
                        <img th:src="${cartItem.images[0].imageUrl}" class="rounded mgb-15" width="30">
                    </div>
                </td>
                <td th:text="${cartItem.price}"></td>
                <td th:text="${cartItem.cartItemCount}"></td>
                <input type="hidden" id="orderItemId" th:field="*{order.checkoutDtos[__${n.index}__].itemId}">
                <input type="hidden" id="orderItemCount" th:field="*{order.checkoutDtos[__${n.index}__].orderCount}">
            </tr>
            </tbody>
        </table>

        <br>
        <br>

        <div th:unless="${cartItems.getItemPriceInfo()==null}">
            <table>
                <thead>
                <tr>
                    <th>총 상품금액</th>
                    <th>총 배송비</th>
                    <th>총 할인금액</th>
                    <th>결제 금액</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <td th:text="${cartItems.getItemPriceInfo().getTotalPrice()}"></td>
                <td th:text="${cartItems.getItemPriceInfo().getDeliveryPrice()}"></td>
                <td th:text="${cartItems.getItemPriceInfo().getItemTotalDiscount()}"></td>
                <td th:text="${cartItems.getItemPriceInfo().getPaymentPrice()}"></td>
                </tbody>
            </table>
            <input type="hidden"  th:field="*{order.itemPriceInfo.totalPrice}">
            <input type="hidden"  th:field="*{order.itemPriceInfo.deliveryPrice}">
            <input type="hidden"  th:field="*{order.itemPriceInfo.paymentPrice}">
            <input type="hidden"  th:field="*{order.itemPriceInfo.itemTotalDiscount}">
        </div>


        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <button type="submit" class="btn btn-primary btn-lg getOrder">장바구니 상품 구매하기</button>

    </form>
</div>
