<!-- DataTales Example -->
<div class="card shadow mb-4" th:fragment="item-table">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">상품 테이블</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>id</th>
                    <th>상품명</th>
                    <th>상품상세</th>
                    <th>현황</th>
                    <th>가격</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="item : ${items}"
                    th:attr="data-url=@{/management/shopping-items/{id}(id=${item.id})}">
<!--                    th:attr="data-url=@{/management/user-account/{id}(id=${userAccount.id})}" onclick="window.location.href=this.getAttribute('data-url')">-->
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemDetail}"></td>
                    <td th:text="${item.itemStatus}"></td>
                    <td th:text="${item.price}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
