<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/myPageLayout">

<th:block layout:fragment="css">
    <link th:href="@{/css/userMyPage/userReviewHistory.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/js/userMyPage/userReviewHistory.js}"></script>
</th:block>

<div layout:fragment="content" id="userReviewHistory">
    <div class="BigTitle">
        <span class="MyPageTitle">리뷰 내역</span>
    </div>

    <div id="reviewCount" th:if="${!reviewList.isEmpty()}"></div>

    <div  id="BigOneReviewBox" class="BigOneReviewBox" th:each="review, status:${reviewList}"  th:with="number=${status.index}" th:if="${!reviewList.isEmpty()}" >
        <a th:if="${review.item.deletedYn.equals('N')}" th:href="@{'/item/'+${review.item.id}}">
            <div id="OneReviewItemBox" style="display: flex">
                <div id="itemRepresentativeImage">
                    <img id="itemImage" th:unless="${review.getItemImageUrl().equals('itemDeleted')}"  th:src="${review.getItemImageUrl()}">
                    <div id="noneItem" th:if="${review.getItemImageUrl().equals('itemDeleted')}">이미지 없음</div>
                </div>
                <div id="itemDetail">
                    <div style="display: flex" class="itemNameZone">
                        <span class="productStatus" th:if="${review.item.itemStatus eq T(com.petkpetk.service.domain.shopping.constant.ItemStatus).SOLD_OUT}">품절</span>
                        <span class="itemName" th:text="${review.item.itemName}"></span>
                    </div>
                    <div style="display: flex; justify-content: flex-end;" class="itemPriceZone">
                        <span class="originalPrice" th:if="${review.item.originalPrice != 0}" th:text="${review.item.originalPrice}"></span>
                        <span class="discountRate" th:if="${review.item.discountRate != 0}" th:text="'('+${#numbers.formatDecimal(review.item.discountRate*100,0,0)}+'%)'"></span>
                        <span class="price" th:text="${review.item.price}"></span><span style="font-size: 22px; color: #583c42;">원</span>
                    </div>
                </div>
            </div>
        </a>
        <a th:unless="${review.item.deletedYn.equals('N')}" title="삭제 된 상품입니다.">
            <div id="OneReviewItemBox" style="display: flex; position: relative;">
                <div class="white" style="position: absolute"></div>
                <div id="itemRepresentativeImage">
                    <img id="itemImage" th:unless="${review.getItemImageUrl().equals('itemDeleted')}"  th:src="${review.getItemImageUrl()}">
                    <div id="noneItem" th:if="${review.getItemImageUrl().equals('itemDeleted')}">이미지 없음</div>
                </div>
                <div id="itemDetail">
                    <div style="display: flex" class="itemNameZone">
                        <span class="productStatus" th:if="${review.item.itemStatus eq T(com.petkpetk.service.domain.shopping.constant.ItemStatus).SOLD_OUT}">품절</span>
                        <span class="itemName" th:text="${review.item.itemName}"></span>
                    </div>
                    <div style="display: flex; justify-content: flex-end;" class="itemPriceZone">
                        <span class="originalPrice" th:if="${review.item.originalPrice != 0}" th:text="${review.item.originalPrice}"></span>
                        <span class="discountRate" th:if="${review.item.discountRate != 0}" th:text="'('+${#numbers.formatDecimal(review.item.discountRate*100,0,0)}+'%)'"></span>
                        <span class="price" th:text="${review.item.price}"></span><span style="font-size: 21px; color: #583c42;">원</span>
                    </div>
                </div>
            </div>
        </a>
        <div id="oneReviewBox">
            <div th:id="'ReviewBox'+${review.id}">
                <div style="display: flex;justify-content: space-between;margin-bottom: 12px;">
                    <div style="display: flex">
                        <div id="reviewStarBox">
                            <img th:if="${review.rating == 5}" class="star" th:src="@{/images/star5_0.png}">
                            <img th:if="${review.rating == 4.5}" class="star" th:src="@{/images/star4_5.png}">
                            <img th:if="${review.rating == 4}"  class="star" th:src="@{/images/star4_0.png}">
                            <img th:if="${review.rating == 3.5}" class="star" th:src="@{/images/star3_5.png}">
                            <img th:if="${review.rating == 3}" class="star" th:src="@{/images/star3_0.png}">
                            <img th:if="${review.rating == 2.5}" class="star" th:src="@{/images/star2_5.png}">
                            <img th:if="${review.rating == 2}"  class="star" th:src="@{/images/star2_0.png}">
                            <img th:if="${review.rating == 1.5}" class="star" th:src="@{/images/star1_5.png}">
                            <img th:if="${review.rating == 1}"  class="star" th:src="@{/images/star1_0.png}">
                            <img th:if="${review.rating == 0.5}" class="star" th:src="@{/images/star0_5.png}">
                        </div>
                        <div class="registerTime" th:text="${#temporals.format(review.modifiedAt,'yyyy년 M월 d일 HH:mm')}"></div>
                        <div class="likes" th:text="'❤ '+${review.likes}"></div>
                    </div>
                    <div id="modifyBtns">
                        <form method="post" th:action="@{'/user/my-page/delete/'+${review.item.id}+'/'+${review.getId()}}">
                            <input  th:class="'modifyBtn modifyBtn'+${review.id}" th:if="${review.item.deletedYn.equals('N')}" type="button" value="수정" th:onclick="'showModifyBox('+${review.id}+')'">
                            <input th:class="'modifyBtn modifyBtn'+${review.id}" type="submit" value="삭제">
                        </form>
                    </div>
                </div>
                <div id="reviewDetailBox">
                    <div th:id="'reviewContent'+${review.id}" style="white-space: pre-line" th:text="${review.content}"></div>
                    <div id="imagesAline" th:if="${not #lists.isEmpty(review.reviewImageDtos)}">
                        <img th:class="'reviewImages'+${review.id}+ ' reviewImages'" th:each="imageUrl, status:${review.reviewImageDtos}" th:src="${imageUrl.imageUrl}" th:onclick="'getPath(this, '+${review.id}+')'">
                        <div th:class="'image-wrap'+${review.id}+' imagesWrap'" style="display: none">
                            <div th:class="'images'+${review.id}+' zomImage'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:id="'modifyReview'+${review.id}" style="display: none;">
                <form method="post" th:action="@{'/user/my-page/modify/'+${review.item.id}+'/'+${review.id}}" th:object="${newReview}" enctype="multipart/form-data">
                    <input type="hidden" th:field="*{rating}" th:id="'newRating'+${review.id}" th:value="${review.rating}">
                    <input type="hidden" th:id="'oldRating'+${review.id}" th:value="${review.rating}">
                    <div id="starZone">
                        <div style="display: flex; position: relative">
                            <img th:if="${review.rating == 5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star5_0.png}">
                            <img th:if="${review.rating == 4.5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star4_5.png}">
                            <img th:if="${review.rating == 4}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star4_0.png}">
                            <img th:if="${review.rating == 3.5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star3_5.png}">
                            <img th:if="${review.rating == 3}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star3_0.png}">
                            <img th:if="${review.rating == 2.5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star2_5.png}">
                            <img th:if="${review.rating == 2}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star2_0.png}">
                            <img th:if="${review.rating == 1.5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star1_5.png}">
                            <img th:if="${review.rating == 1}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star1_0.png}">
                            <img th:if="${review.rating == 0.5}" th:id="'star'+${review.id}" class="stars" th:src="@{/images/star0_5.png}">

                            <div style="display: flex; position: absolute;" class="starAbsolute">
                                <input type="button" class="starBtn" value="0.5" th:onclick="'newStar(0.5,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="1" th:onclick="'newStar(1,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="1.5" th:onclick="'newStar(1.5,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="2" th:onclick="'newStar(2,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="2.5" th:onclick="'newStar(2.5,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="3" th:onclick="'newStar(3,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="3.5" th:onclick="'newStar(3.5,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="4" th:onclick="'newStar(4,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="4.5" th:onclick="'newStar(4.5,'+${review.id}+')'">
                                <input type="button" class="starBtn" value="5" th:onclick="'newStar(5,'+${review.id}+')'">
                            </div>
                        </div>

                        <div>
                            <input class="clearBtn" type="button" value="취소" th:onclick="'cancelNewReview('+${review.id}+')'">
                            <input class="clearBtn" type="submit" value="완료">
                        </div>
                    </div>
                    <div style="margin-top: 16px;">
                        <textarea th:field="*{content}" th:id="'newReviewContent'+${review.id}" class="newReviewContent" style="white-space: pre-line;"></textarea>
                    </div>
                    <div id="reviewImages" th:if="${not #lists.isEmpty(review.reviewImageDtos)}">
                        <div id="reviewEach" >
                            <div th:each="reviewImageDto , status : ${review.reviewImageDtos}" th:with="num=${status.index+1}">
                                <div class="custom-file">
                                    <input th:class="${'fileName'+review.id+num+' fileName'}"  name="imageNames" th:value="${not #strings.isEmpty(reviewImageDto.uniqueName)}?${reviewImageDto.originalName}:'첨부파일'" readonly>
                                    <input type="hidden" th:class="${'fileName'+review.id+num}" name="uniqueImageNames" th:value="${not #strings.isEmpty(reviewImageDto.uniqueName)}?${reviewImageDto.uniqueName} : '첨부파일'">

                                    <label th:for="${'reviewFile'+review.id+num}" class="reviewFilesLable" th:text="${'이미지 업로드'}"></label>
                                    <input type="file" th:id="${'reviewFile'+review.id+num}" name="images" th:onchange="'getFileName('+${review.id}+','+${num}+')'">
                                    <input class="removeImage" type="button" value="삭제" th:onclick="'removeImage('+${review.id}+','+${num}+')'">
                                </div>
                            </div>
                            <div id="reviewNullImageBox" th:each="num : ${#numbers.sequence(review.reviewImageDtos.size()+1, 5)}">
                                <div class="custom-file">
                                    <input th:class="${'fileName'+review.id+num+' fileName'}" value="첨부파일" readonly>

                                    <label th:for="${'reviewFile'+review.id+num}" class="reviewFilesLable" th:text="${'이미지 업로드'}"></label>
                                    <input type="file" th:id="${'reviewFile'+review.id+num}" name="images" th:onchange="'getFileName('+${review.id}+','+${num}+')'">
                                    <input class="removeImage" type="button" value="삭제" th:onclick="'removeImage('+${review.id}+','+${num}+')'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="nullReviewImages" th:if="${#lists.isEmpty(review.reviewImageDtos)}">
                        <div th:each="num: ${#numbers.sequence(1,5)}">
                            <div class="custom-file">
                                <input th:class="${'fileName'+num+' fileName'}"  name="imageNames" value="첨부파일" readonly>


                                <label th:for="${'reviewFile'+review.id+num}" class="reviewFilesLable" th:text="${'이미지 업로드'}"></label>
                                <input type="file" th:id="${'reviewFile'+review.id+num}" name="images" th:onchange="'getFileName('+${review.id}+','+${num}+')'">
                                <input class="removeImage" type="button" value="삭제" th:onclick="'removeImage('+${review.id}+','+${num}+')'">
                            </div>
                        </div>
                    </div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                </form>
            </div>
        </div>
    </div>

    <div id="noneReviewBox" th:unless="${!reviewList.isEmpty()}">
        등록 된 리뷰가 없습니다.
    </div>

</div>
</html>