profile-name: "dev"


server:
  port: ${SERVER_PORT}

management:
  endpoints:
    web:
      exposure:
        include: "*"

logging:
  level:
    petkpetk.admin: debug
    org.springframework.web.servlet: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
    org.springframework.web.client.RestTemplate: debug

spring:
  devtools:
    livereload:
      port: 35730

  datasource:
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USERNAME}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    defer-datasource-initialization: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100
    open-in-view: false

  sql:
    init:
      mode: always

