<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">



<div >
    <div th:fragment="header" id="headerZone">
        <div>
            <a th:href="@{#}"><img id="topDog" class="topDog" th:src="@{/images/topDog(1).png}"
                                   onmouseover="movingTopDog()"
                                   onmouseout="stopTopDog()" title="TOP"></a>
        </div>

        <div class="head">

            <div class="createBusiness">
                <div class="top-business"><a th:href="@{/item/new}"
                                             sec:authorize="hasAnyAuthority('ROLE_ADMIN')">관리
                    페이지</a>
                </div>
                <div class="top-business"><a th:href="@{/user/seller/sign-up}" sec:authorize="!hasAnyAuthority('ROLE_ADMIN')">사업 등록</a>
                </div>
            </div>

            <!---------------------------- if user == null -------------------------->
            <div class="logOut" sec:authorize="isAnonymous()">
                <ul class="flex justifyContent topList">
                    <li class="log"><a th:href="@{/login}">로그인</a></li>
                </ul>
            </div>

            <!---------------------------- if user == Admin -------------------------->
            <div class="logOut"sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                <ul class="flex justifyContent topList">
                    <li class="log"><a th:href="@{/logout}">로그아웃</a></li>
                </ul>
            </div>

            <!----------------------------------------------------------------------->
            <!---------------------------- if user != null --------------------------->
            <div class="logIn" sec:authorize="hasAnyAuthority('ROLE_USER')">
                <ul class="flex justifyContent topList">
                    <li class="log"><a th:href="@{/logout}">로그아웃</a></li>
                    <li onmouseleave="hideMenu()">
                            <a>
                                <div class="profile Pone" onmouseover="showMenu()">
                                    <img class="userProfile" th:src="@{/images/pinkMoala.png}">
                                </div>
                            </a>
                        <div id="topHoverMenu" class="topHoverMenu">
                            <img class="ladder" th:src="@{/images/ladder.png}">
                            <ul class="menuBox">
                                <li class="nickName" th:text="${#authentication.getPrincipal().getNickname()}">내 닉네임</li>
                                <li class="menus"><a>마이 페이지</a></li>
                                <li class="menus"><a th:href="@{/cart}">장바구니</a></li>
                                <li class="menus"><a th:href="@{/order}">구매 이력</a></li>
                                <li class="menus"><a th:href="@{/QnA}">QnA</a></li>
                                <li class="menus"><a th:href="@{/logout}">로그아웃</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="logIn" sec:authorize="hasAnyAuthority('ROLE_SELLER')">
                <ul class="flex justifyContent topList">
                    <li class="log"><a th:href="@{/logout}">로그아웃</a></li>
                    <li onmouseleave="hideMenu()">
                            <a>
                                <div class="profile Pone" onmouseover="showMenu()">
                                    <img class="userProfile" th:src="@{/images/pinkMoala.png}">
                                </div>
                            </a>
                        <div id="topHoverMenu" class="topHoverMenu">
                            <img class="ladder" th:src="@{/images/ladder.png}">
                            <ul class="menuBox">
                                <li class="nickName" th:text="${#authentication.getPrincipal().getNickname()}">내 닉네임</li>
                                <li class="menus"><a th:href="@{/seller/information}">사업 정보</a></li>
                                <li class="menus"><a th:href="@{/seller/item-manage}">상품 관리</a></li>
                                <li class="menus"><a>주문 상태</a></li>
                                <li class="menus"><a th:href="@{/QnA}">QnA</a></li>
                                <li class="menus"><a th:href="@{/logout}">로그아웃</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!----------------------------------------------------------------------->
        </div>
        <div id="main" class="flex justifyContent main" sec:authorize="isAnonymous()">
            <a th:href="@{/}"><img class="logo-img" th:src="@{/images/PetkPetk-logo_Kor.png}"></a>
            <nav>
                <ul class="mainMenu">
                    <li><a th:href="@{/}">쇼핑</a></li>
                    <li><a>커뮤니티</a></li>
                    <li><a>ABOUT</a></li>
                </ul>
            </nav>
        </div>
        <div id="main" class="flex justifyContent main"
             sec:authorize="isAuthenticated()" onmouseover="hideMenu()">
            <a th:href="@{/}"><img class="logo-img" th:src="@{/images/PetkPetk-logo_Kor.png}"></a>
            <nav>
                <ul class="mainMenu">
                    <li><a th:href="@{/}">쇼핑</a></li>
                    <li><a>커뮤니티</a></li>
                    <li><a>ABOUT</a></li>
                </ul>
            </nav>
        </div>

        <div id="main2" class="flex justifyContent main2">
            <a th:href="@{/}"><img class="logo-img" th:src="@{/images/PetkPetk-logo_Kor.png}"></a>
            <div>
                <img class="menubar" th:src="@{/images/menubar.png}" onclick="menuToggle()">
            </div>
        </div>
        <div id="midiMenu" class="midiMenu">
            <ul id="midi">
                <a th:href="@{/}"><li>쇼핑 <span>Shopping</span></li></a>
                <a><li>커뮤니티 <span>Community</span></li></a>
                <a><li>ABOUT</li></a>
                <a><li>QnA</li></a>
                <div class="line"></div>
                <!------------------------------ if user == null ------------------------------>
                <a th:href="@{/seller/information}"><li sec:authorize="hasAnyAuthority('ROLE_SELLER')">사업 정보 <span>My Page</span></li></a>
                <a th:href="@{/seller/item-manage}"><li sec:authorize="hasAnyAuthority('ROLE_SELLER')">상품 관리 <span>Manage Products</span></li></a>
                <a><li sec:authorize="hasAnyAuthority('ROLE_SELLER')">주문 관리 <span>Manage Orders</span></li></a>
                <a><li sec:authorize="hasAnyAuthority('ROLE_SELLER')">정산 <span>Calculate</span></li></a>

                <a><li sec:authorize="hasAnyAuthority('ROLE_USER')">마이 페이지 <span>My Page</span></li></a>
                <a th:href="@{/order}"><li sec:authorize="hasAnyAuthority('ROLE_USER')">구매 이력 <span>purchase history</span></li></a>
                <a th:href="@{/cart}"><li sec:authorize="!hasAnyAuthority('ROLE_ADMIN', 'ROLE_SELLER')">장바구니 <span>Cart</span></li></a>


                <!------------------------------ if user == null ------------------------------>
                <a th:href="@{/login}"><li sec:authorize="isAnonymous()">로그인 <span>Login</span></li></a>

                <!------------------------------ if user != null ------------------------------>
                <a th:href="@{/logout}"><li sec:authorize="isAuthenticated()">로그아웃 <span>Logout</span></li></a>

            </ul>

        </div>
    </div>
    <div th:fragment="noticeSeach" id="noticeSeach">
        <div class="NoticeSearchZone" id="NoticeSearchZone">

            <div class="noticeBox flex">
                <img class="noticeDog" th:src="@{/images/notice-dog.png}" title="공지사항 바로가기">
                <div class="noticeZone flex">
                    <a href="" title="메인 공지">여기는 공지사항</a>
                </div>
            </div>
            <form id="searchForm" th:action="@{/}" method="get">
                <div class="searchZone">
                    <input type="text" name="searchQuery" maxlength="40" autocomplete="off">
                    <input type="submit" value="검색">
                </div>
            </form>
            <hr>
        </div>
    </div>
</div>
</html>