<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="myPageMenubar">

    <div sec:authorize="hasAnyAuthority('ROLE_SELLER')">
        <ul class="sellerMenubar bar">
            <li><a th:href="@{/seller/my-page/information}">사업 정보</a></li>
            <li><a th:href="@{/seller/my-page/item-manage}">상품 관리</a></li>
            <li><a>주문 내역</a></li>
            <li><a>정산</a></li>
        </ul>
    </div>

    <div sec:authorize="hasAnyAuthority('ROLE_USER')">
        <ul class="userMenubar bar">
            <li><a th:href="@{/user/my-page/information}">마이 페이지</a></li>
            <li><a>장바구니</a></li>
            <li><a th:href="@{/user/order/orders}">구매 내역</a></li>
            <li><a th:href="@{/user/my-page/reviewHistory}">리뷰 내역</a></li>
            <li><a>커뮤니티 활동</a></li>
        </ul>
    </div>
</div>
</html>