<!-- 모달 창 -->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="adminModalLabel"
     aria-hidden="true" th:fragment="admin-register-waiting-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="adminModalLabel">Admin Account 정보</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <tr>
                        <td>id</td>
                        <td id="adminId"></td>
                    </tr>
                    <tr>
                        <td>이름</td>
                        <td id="adminName"></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td id="adminEmail"></td>
                    </tr>
                    <tr>
                        <td>권한</td>
                        <td id="adminRoles"></td>
                    </tr>
                    <tr>
                        <td>가입일자</td>
                        <td id="adminCreatedAt"></td>
                    </tr>
                    <tr>
                        <td>승인여부</td>
                        <td id="adminApproved"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-danger" id="approvalButton">승인</button>
            </div>
        </div>
    </div>
</div>

