/*article upload 페이지 */


.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], select, textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="file"] {
    margin: 10px;

}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
}


.article-image-upload-description {
    padding: 5px;
}

.article-image-upload label {
    display: inline-block;
    border-radius: 50%;
    padding: 15px;
    background-color: #fff5ce;
}


/*게시글 목록 조회 */

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

form > div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 120px;
    font-weight: bold;
}

input[type="text"],
select {
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.page-item {
    display: inline;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #dee2e6;
}


.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination li {
    margin: 0 10px;
}

.pagination li.active {
    font-weight: bold;
}


/*article 상세 페이지*/


.category {
    background-color: #FCAF45;
    color: #fff;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.article-image {
    margin-top: 30px;
    padding: 10px;
    max-width: 400px;
    max-height: 400px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    transform: rotate(5deg);
}


.hashtags {
    margin: 20px;
}

.hashtags .title {
    font-weight: 600;
    margin-bottom: 5px;
}

.hashtags .tags {
    display: flex;
    flex-wrap: wrap;
}

.hashtags .tags span {
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #385185;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.hashtags .tags span:hover {
    color: #2980b9;
}

.comment-buttons {
    float: right;
    margin: 10px 10px 0 0;
}

.comment-buttons a {
    margin-left: 10px;
}

.comments {
    clear: both;
    margin-top: 100px;
}
