#itemDetailContainer {
    padding: 0 15%;
}
.jumped4{
    margin-top: 120px;
}
.jumped3{
    margin-top: 100px;
}
input {
    outline: none;
}

input:focus {
    outline: none;
}

.d-flex {
    width: 100%;
}

#itemDetailMainImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SellStatus_ItemName {
    display: flex;
}

.ChooseAmountBox {
    display: flex;
    justify-content: flex-end;
}

.wd50 {
    width: calc(50% - 10PX);
    padding: 10px 0px 20px 0px;
    text-align: right;
    position: relative;
}

#BuyBox {
    display: flex;
}

.repImgDiv {
    margin-right: 10px;
    width: 50%;
    min-height: 250px;
    max-height: 600px;
    border: 1px solid #cbbfbf;
}

#SoldOut {
    cursor: default;
    text-align: center;
    width: 50px;
    height: 20px;
    background: #ff415a;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    line-height: 20px;
}

.statusClass {
    margin-right: 5px;
}

#SoldOutName {
    color: #726b6b;
}

.itemDetailName {
    cursor: default;
    font-size: 20px;
}

#orderCount {
    text-align: center;
    width: 70px;
    height: 30px;
    margin: 0 3px;
    border: 1px solid #FF5F75;
    border-radius: 3px;
}

#minusAmount, #plusAmount {
    color: #ff4f67;
    cursor: pointer;
    text-align: center;
    width: 30px;
    height: 30px;
    border: 1px solid #FF5F75;
    border-radius: 3px;
    background-color: #fff2f2;
}

#minusAmount:hover, #plusAmount:hover {
    background-color: #ffe2e2;
}

#minusAmount {
    margin-left: 10px;
}

#totalPrice {
    font-size: 27px;
    color: red;
    font-weight: bold;
}

.totalWon, .chong {
    position: relative;
    top: 3px;
    font-size: 21px;
    color: #3A1D1D;
}

.chong {
    margin-right: 5px;
}

.addBtn {
    display: flex;
    width: 158px;
    justify-content: flex-end;
}

.cost {
    font-size: 20px;
    margin-bottom: 10px;
}

.OriginalCost {
    font-size: 16px;
    color: #bdb1b1;
    text-decoration: line-through;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
}

.getCart, .getOrder {
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}

.getCart:enabled, .getOrder:enabled {
    cursor: pointer;
    border: none;
    color: white;
}

.getCart:enabled {
    background: #ff7688;
}
.getOrder:enabled {
    background: #ff415a;
}



.getCart:enabled:hover, .getOrder:enabled:hover {
    animation: moving 0.15s linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

@keyframes moving {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1deg);
    }
}

.getCart {
    width: calc(40% - 5px);
}

.getOrder {
    width: calc(60% - 5px);
}

.lastOrderTurn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
.chooseBtn {
    display: flex;
}

.chooseProduct {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 100%;
}

.totalflexBox {
    display: flex;
}

.EXDiv{
    margin-top: 50px;
}

.explainDiv {
    border: 1px solid #ffdfe2;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 150px;
    text-align: center;
    padding: 10px;
    color: #ff97a3;
    cursor: pointer;
    transition: 0.2s;
}
.explainDiv:hover{
    border: 1px solid #ffd7db;
    border-bottom: none;
    background-color: #ffeeef;
    color: #ff8996;
}

.itemDetailBox {
    margin-bottom: 40px;
    background-color: #ffe6e9;
    border-radius: 5px;
    padding: 20px;
}

.lead{
    width: 100%;
    border: 1px solid #ffdfe2;
    height: auto;
    padding: 50px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #60423b;
}

.imgCenter {
    padding: 1% 20%;
}

.imgCenter img{
    width: 100%;
}
.ReviewFlex {
    display: flex;
}

#reviewBox, #businessBox {
    display: none;
}

.reviewOneBox_nickName_time {
    display: flex;
}

.reviewOneBox {
    border: 1px solid #ffe6e9;
    background-color: #ffe6e9;
    border-radius: 5px;
    padding: 20px;
    margin: 10px 0;
}
.reviewOneBox_nickName_time {
    display: flex;
    margin-bottom: 7px;
    margin-left: 2px;
    justify-content: space-between;
}
.titleBox {
    display: flex;
}

.userNickName {
    font-weight: bold;
    font-size: 17px;
    margin-right: 13px;
    color: #874c4c;
}
.reviewLikes {
    color: #ff5065;
    font-weight: bold;
    margin-left: 5px;
}
span.likeTitle {
    color: #ff6577;
    font-size: 13px;
    line-height: 28px;
}

.reviewContent {
    border: 1px solid #fff2f4;
    background-color: #fff2f4;
    border-radius: 5px;
    padding: 20px;
}

.userReviewProfile {
    width: 30px;
    height: 30px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
}
.reviewProfile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.titleBox {
    line-height: 30px;
    margin-left: 6px;
}

.btnFlex {
    display: flex;
}

.nonReview {
    text-align: center;
    color: #f5e2e4;
}

.likes {
    width: 25px;
    height: 25px;
    margin-left: 4px;
    cursor: pointer;
    position: relative;
    top: 1px;
}
.reviewBtn {
    width: 35px;
    height: 25px;
    margin: 0 3px;
    border: 1px solid #ffa2ad;
    border-radius: 5px;
    background-color: #ffffffad;
    color: #ff6a7c;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
}
.reviewBtn:hover {
    border: 1px solid #ff97a3;
    background-color: rgba(255, 241, 241, 0.7);
    color: #ff5e71;
}

form#reviewModalForm {
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    padding: 100px;
    height: 100%;
    background-color: #41373d99;
    z-index: 200;
}
div#reviewModal {
    position: absolute;
    top: 40%;
    width: calc(100% - 200px);
}

.reviewModifyBtn {
    display: flex;
    justify-content: flex-end;
}

textarea#reviewModalContent {
    width: 100%;
    height: 100px;
    resize: none;
    outline: none;
    border: 1px solid #c05a66;
    border-radius: 5px;
    margin-top: 5px;
    padding: 20px;
    background-color: #ffe3e6e0;
    font-size: 16px;
    color: #c22c3b;
}

.modiBtn {
    width: 48px;
    height: 29px;
    margin-left: 6px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ff6b7b;
    background-color: #ffffffe6;
    color: #e95867;
}
.modiBtn:hover {
    border: 1px solid #ff5a6b;
    background-color: rgba(255, 229, 229, 0.9);
    color: #e74b5b;
}
/*----------------------------------------------------------------------------------*/



@media screen and (max-width: 880px) {


    #itemDetailContainer {
        margin-bottom: 100px;
        padding: 0 10%;
    }

}

@media screen and (max-width: 780px) {
    #itemDetailContainer {
        margin-bottom: 100px;
    }
    .itemDetailName {
        font-size: 18px;
    }

    .cost {
        margin-bottom: 0;
    }

    .ChooseAmountBox {
        flex-direction: column;
        align-items: flex-end;
    }

    #itemDetailContainer {
        padding: 0 10%;
    }

    .lastOrderTurn {
        display: flex;
        align-items: flex-end;
        flex-direction: column;

    }

    .chooseProduct {
        bottom: 70px;

    }

    .getCart, .getOrder {
        height: 30px;
        font-size: 15px;
        border-radius: 4px;
    }

    .cost {
        margin-bottom: 0;
    }

    .getCart {
        width: 136px;

    }

    .getOrder {
        width: 100%;
        margin-top: 4px;
    }

    #totalPrice {
        font-size: 22px;

    }

    .totalWon, .chong {
        top: 1.5px;
        font-size: 18px;
    }
}

@media screen and (max-width: 660px) {
    #itemDetailContainer {
        margin-bottom: 100px;
    }
    .itemDetailName {
        font-size: 18px;
    }
    .cost {
        margin-bottom: 0;
    }

    .ChooseAmountBox {
        flex-direction: column;
        align-items: flex-end;
    }

    .lastOrderTurn {
        align-items: flex-end;
        flex-direction: column;
    }

    .getCart, .getOrder {
        height: 30px;
        font-size: 15px;
        border-radius: 4px;
    }

    .chooseProduct {
        bottom: 70px;

    }

    #minusAmount, #plusAmount {
        width: 25px;
        height: 25px;
    }

    #orderCount {
        height: 25px;
    }


    .addBtn {
        width: 140px;
    }

    .getCart {
        width: 126px;
    }

}

@media screen and (max-width: 560px) {

    #BuyBox {
        margin-top: 20px;
    }

    .cost {
        font-size: 15px;
    }

    .itemDetailName {
        font-size: 15px;
    }

    #totalPrice {
        font-size: 19px;
    }

    .totalWon, .chong {
        top: 2px;
        font-size: 16px;
    }
}