<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/myPageLayout">

<th:block layout:fragment="script">
    <script th:inline="javascript" th:src="@{/js/sellerMyPage/sellerMyPage.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link th:href="@{/css/sellerMyPage/sellerMyPage.css}" rel="stylesheet">
</th:block>

<div layout:fragment="content" id="sellerMyPape">

    <div class="BigTitle">
        <span class="MyPageTitle">사업 정보</span>
    </div>
    <!--  유저 정보 확인 div  -->
    <div id="originalInformation" class="originalInformation" style="display: block">
        <div class="infos">
            <div class="infoTitle">Email</div>
            <span class="informations">유저 이메일</span>
        </div>

        <!-- 수정하기 버튼 누르면 display = none -->
        <!-- 여기에다가 회원 정보들 좀 가져와 담아주시오 -->
        <div class="myPageUserInformation" id="myPageUserInformation">
            <div class="infos">
                <div class="infoTitle">Name</div>
                <span class="informations">대표자 이름</span>
            </div>
            <div class="infos">
                <div class="infoTitle">Nick name</div>
                <span class="informations">유저 닉네임</span>
            </div>
            <div class="infos">
                <div class="infoTitle">Business name</div>
                <span class="informations">상호명</span>
            </div>
            <div class="infos">
                <div class="infoTitle">Business number</div>
                <span class="informations">사업 코드</span>
            </div>
            <div class="infos">
                <div class="infoTitle">C.P</div>
                <span class="informations">전화번호</span>
            </div>
            <div class="infos">
                <div class="infoTitle">Address</div>
                <span class="informations">유저 주소</span>
            </div>

            <!--  여기에다가 원래 비밀번호 넣어주세유 비밀번호 바꿀 때 대조해서 원래 비번이랑 같으면 같다고 알럿창 띄울거유  -->
            <input type="hidden">

            <input id="modifyInfo" type="button" value="수정하기" onclick="openNewInfoBox()">
            <br>
            <input id="modifyPass" type="button" value="비밀번호 수정" onclick="openNewPassBox()">
        </div>
    </div>

    <!--  유저 정보 수정 Form  -->
    <!--  유저 정보들 담겨있는 상태 그대로에서 수정하도록 ㄱㄱ  -->
    <div class="newUserInformationForm" id="newUserInformationForm" style="display: none">
        <form>
            <div>
                <div class="newTitle">이름<span>Name</span></div>
                <input class="newInfos" type="text" placeholder="Type your name"  autocomplete="off" maxlength="10">
            </div>

            <div>
                <div class="newTitle">닉네임<span>Nick name</span></div>
                <input class="newNickName" type="text" placeholder="Type your nickname"  autocomplete="off" maxlength="15">
                <input id="findNickName" type="button" value="중복 검사">
            </div>

            <div>
                <div class="newTitle">상호명<span>Business name</span></div>
                <input class="newInfos" type="text" placeholder="Type your business name"  autocomplete="off" maxlength="30">
            </div>

            <div>
                <div class="newTitle">전화번호<span>C.P</span></div>
                <input class="newInfos" type="number" placeholder="Type your C.P"  autocomplete="off" maxlength="11">
            </div>

            <div>
                <div>
                    <div class="newTitle">우편번호<span>ADDRESS</span></div>
                    <input type="text" class="newAddress" id="sample6_postcode" placeholder="우편번호" name="zipcode" readonly>
                    <input id="findZipcode" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">

                    <div class="newTitle">주소</div>
                    <input class="newInfos" type="text" id="sample6_address" placeholder="주소" name="addr" readonly>

                    <div class="newTitle">상세주소<span>DETAIL ADDRESS</span></div>
                    <input class="newInfos" type="text" id="sample6_detailAddress" placeholder="상세주소" name="addrdetail" autocomplete="off">

                    <div class="newTitle">참고항목</div>
                    <input class="newInfos" type="text" id="sample6_extraAddress" placeholder="참고항목" name="addretc" readonly>

                    <input type="hidden" id="address" placeholder="주소">
                </div>
            </div>


            <input class="submitNewInfo" type="submit" value="수정 완료">
            <input class="cancelNewInfo" type="button" value="취소" onclick="hideNewInfoBox()">
        </form>
    </div>

    <!--  비밀번호 수정 Form  -->
    <div class="newPasswordForm" id="newPasswordForm" style="display: none">
        <form id="newPassForm">
            <div class="newPassFlex">
                <div class="newPassInput">
                    <span>새 비밀번호</span>
                </div>
                <input id="newPassword" type="password" placeholder="Type new password" maxlength="16" autocomplete="off">
                <img  id="PassToggle" class="toggleImg" th:src="@{/images/passwordShow.png}" onclick="togglePass()">
            </div>

            <div class="newPassFlex">
                <div class="newPassInput">
                    <span>비밀번호 확인</span>
                </div>
                <input id="reNewPassword" type="password" placeholder="Retype new password" maxlength="16" autocomplete="off">
                <img id="rePassToggle" class="toggleImg" th:src="@{/images/passwordShow.png}" onclick="toggleRePass()">
            </div>

            <input class="submitNewPass passBtn" type="submit" value="수정 완료" onclick="checkPassword()">
            <input id="cancelNewPass" class="cancelNewPass passBtn" type="button" value="취소" onclick="hideNewPassBox()">
        </form>
    </div>

    <th:block layout:fragment="script">
        <script th:inline="javascript"
                th:src="@{//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js}"></script>
        <script th:inline="javascript">
            function sample6_execDaumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("sample6_extraAddress").value = extraAddr;

                        } else {
                            document.getElementById("sample6_extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('sample6_postcode').value = data.zonecode;
                        document.getElementById("sample6_address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("sample6_detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </th:block>
</div>
</html>